.animation-container {
    width: 100vw;
    height: 300px;
    /* background-color: lavender; */
    position: relative;
}

.animation {
    width: 100px;
    height: 150px;
    /* background-image: url(/images/animation/frame0.png); */
    position: absolute;
}