body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 2fr 10fr;
    grid-template-rows: 1fr 1fr 10fr;
    overflow: auto;
}

#center-stripe {
    grid-column-start: 1;
    grid-column-end: 4;
}

#center-stripe {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

#center-stripe nav ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 2rem;
}

#center-stripe h1 {
    margin-left: 3rem;
}

#bottom-center {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-info {
    width: 60%;
}

#bottom-right {
    height: 100%;
    width: 100%;
    margin: auto;
    height: 100%;
    width: 100%;
    overflow: auto;
}

.aboutme {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.aboutme__figure {
    grid-row-start: 1;
    grid-row-end: 3;
    margin: 1rem auto auto;
}

.aboutme__title {
    margin: auto;
}

.aboutme__text {
    margin-right: 1rem;
}

.academic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 3rem;
}

.homepage__image {
    width: 100%;
    height: auto;
}

.programming__bottom-right {
    display: flex;
    flex-direction: column;
}