* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;

    position:fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}
header nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 1rem;
}
header h1 {
    margin: 1rem auto 0;
}




.section-title {
    margin: 3rem auto;
}






.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

#spacer1, #spacer2, #spacer3, #spacer4 {
    height: 100vh;
    width: 100vw;
}


.landing__image {
    width: 75vw;
}

.programming__project, .programming__title {
    margin: 0 auto 5rem 1rem;
}

.about-me__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto 2rem;
    width: 80vw;
    max-width: 400px;
}
.about-me__picture {
    width: 90%;
    margin: 1rem auto;
}
.about-me__text {
    margin-right: 1rem;
}

.skills-technical__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills section {
    padding-bottom: 1rem;
}

.endquote {
    padding-bottom: 6rem;
}

.landing__title, .about-me__title, .about-me__text, .about-me__about-me, .skills {
    margin-left: 1rem;
}


footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
footer img {
    width: 75px;
    height: 75px;
}

.programming, .about-me, .skills {
    max-width: 900px;
}

.darkmode-button {
    width: 50px;
    height: 50px;
}