body {
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
}

header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    align-items: center;

    position:fixed;
    top: 0;
    width: 100vw;
}
header nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;
}
header h1 {
    margin: 1rem auto 0;
}







.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8rem;
}

.spacer {
    height: 100vh;
    width: 100vw;
    background-color: blue;
}


.landing-image {
    width: 75vw;
}

.programming__project {
    margin: 0 auto 5rem;
}

.about-me__figure {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    width: 80vw;
}
.about-me__picture {
    width: 90%;
    margin: 1rem auto;
}
.about-me__text {
    margin-right: 1rem;
}

.academic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 3rem;
}





footer {
    display: flex;
    justify-content: space-around;
    position: fixed;
    bottom: 0;
    width: 100vw;
}
footer img {
    width: 75px;
    height: 75px;
}