:root {
    /* Light Cheer */
    --color-scheme-1: #A7BED3;
    --color-scheme-2: #C6E2E9;
    --color-scheme-3: #F1FFC4;
    --color-scheme-4: #FFCAAF;
    --color-scheme-5: #DAB894;
}

/* Color Schemes to Try:
    // Autumn
    --color-scheme-1: #A4243B
    --color-scheme-2: #D8C99B
    --color-scheme-3: #D8973C
    --color-scheme-4: #BD632F
    --color-scheme-5: #273E47
*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--color-scheme-2);
}

@font-face {
    font-family: Calligraffitti;
    src: url("./fonts/Calligraffitti-Regular.tff");
}
figcaption {
    font-family: Calligraffitti, cursive;
}
h1 {
    color: #273E47;
}
h2 {
    color: #273E47;
    background-color: var(--color-scheme-3);
    padding: 5px;
    border-style: ridge;
    border-width: 5px;
}
nav a:hover {
    color: white;
}