* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#top-center, #bottom-center {
    background-color: #007ff4;
}

#center-stripe {
    background-color: #004aad;
}

#bottom-center h2 {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 35pt;
}

#bottom-center p a {
    font-family: 'Lato', sans-serif;
    color: lightpink;
    font-size: 15pt;
}

#top-left, #top-right, #bottom-left, #bottom-right {
    background-color: rgb(247, 247, 247);
}

h1 {
    font-family: 'Lato', sans-serif;
    font-size: 120pt;
    color: white;
}

#center-stripe li, li a {
    font-family: 'Lato', sans-serif;
    font-size: 50pt;
    color: orangered;
}

#center-stripe ul {
    list-style: none;
}

#center-stripe a:link {
    text-decoration: none;
}

#center-stripe h1 a {
    color: white;
}

#center-stripe nav a:hover {
    text-decoration: underline overline;
}

.program-project__image {
    height: 400px;
    width: 700px;
}
.aboutme {
    font-style: 'Lato', sans-serif;
}

.aboutme__figure {
    background-color: lightgray;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10%;
    border-style: solid;
    border-width: 6pt;
}

.aboutme__picture {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    border-radius: 5%;
}

.aboutme__Latincaption, .aboutme__captionattribution {
    font-family: 'Proza Libre', sans-serif;
    font-size: 20pt;
}

.aboutme__Latincaption {
    font-style: italic;
}

.aboutme__title, .aboutme__text {
    font-family: 'Lato', sans-serif;
}

.aboutme__title {
    font-size: 50pt;
}

.aboutme__text {
    font-size: 17pt;
}

<<<<<<< HEAD
.academic h2 {
    font-size: 30pt;
}

.academic li {
    font-size: 15pt;
=======
.interests__title, .publications__title {
    font-size: 60pt;
    font-family: 'Lato', sans-serif;
    text-decoration: underline;
}

.interests__listItem, .publications__listItem {
    font-size: 25pt;
    color: black;
    list-style: none;
>>>>>>> 70b74eec0b53ac58d8c6f0623c9c31395fcf9ee3
}