* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

footer {
    background-color: #007ff4;
}

header {
    background-color: #004aad;
}


h1 {
    font-family: 'Lato', sans-serif;
    color: white;
}

header li, li a {
    font-family: 'Lato', sans-serif;
    color: orangered;
}

header ul {
    list-style: none;
}

header a:link {
    text-decoration: none;
}

header h1 a {
    color: white;
}

header nav a:hover {
    text-decoration: underline overline;
}

.program-project, .interests, .publications {
    font-family: 'Lato', sans-serif;
}
.program-project__image {
    width: 95vw;
}
.aboutme {
    font-style: 'Lato', sans-serif;
}

.aboutme__figure {
    background-color: lightgray;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10%;
    border-style: solid;
    border-width: 6pt;
}

.aboutme__picture {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    border-radius: 5%;
}

.aboutme__Latincaption, .aboutme__captionattribution {
    font-family: 'Proza Libre', sans-serif;
}
.aboutme__Englishcaption {
    font-family: 'Proza Libre', sans-serif;
}
.aboutme__Latincaption, .aboutme__Englishcaption {
    font-style: italic;
}

.aboutme__title, .aboutme__text {
    font-family: 'Lato', sans-serif;
}

.aboutme__title {
}

.aboutme__text {
}

.academic h2 {
}

.academic li {
}


.hidden {
    display: none;
}