:root {
    /* Light Cheer */
    --color-scheme-1: #A7BED3;
    --color-scheme-2: #C6E2E9;
    --color-scheme-3: #F1FFC4;
    --color-scheme-4: #FFCAAF;
    --color-scheme-5: #DAB894;
}

/* Color Schemes to Try:
    // Autumn
    --color-scheme-1: #A4243B
    --color-scheme-2: #D8C99B
    --color-scheme-3: #D8973C
    --color-scheme-4: #BD632F
    --color-scheme-5: #273E47
*/

* {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-scheme-2);
}

h1 {
    font-family: Ubuntu, sans-serif;
    font-size: 5rem;
}
h2 {
    background-color: var(--color-scheme-3);
    font-size: 3rem;
    font-family: Acme, sans-serif;
    border: ridge;
    padding: 1rem;
}
h3, h4 {
    background-color: var(--color-scheme-4);
    font-size: 2rem;
    font-family: Acme, sans-serif;
    border: ridge;
    padding: 1rem;
}
#bio h4 {
    padding: 0rem;
    border: none;
    background-color: var(--color-scheme-2);
}
figcaption {
    font-family: Calligraffitti, cursive;
    font-size: 2rem;
}
#projects article :first-child {
    font-size: 1.5rem;
}