/*   Normal / "Light" Mode    */


.header {
    background-color: #004aad;
}
.header__listItemAnchor {
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
    color: orangered;
    font-weight: bold;
}
.header__list {
    list-style: none;
}
.header__listItemAnchor:link {
    text-decoration: none;
}
.header__titleAnchor {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 35pt;
}

.header__listItemAnchor:hover {
    text-decoration: underline overline;
}

.spacer1, .spacer2, .spacer3, .spacer4 {
    background-image: linear-gradient(white, blue, white);
}

.section-title {
    color: rebeccapurple;
    font-family: "Lato", sans-serif;
    font-size: 30pt;
    text-decoration: wavy underline;
}


.programming, .interests, .publications {
    font-family: 'Lato', sans-serif;
}
.programming__project--image {
    width: 95vw;
    border-radius: 10%;
    border: 5px solid black;
    max-width: 900px;
}

.programming__project--title {
    font-family: "Lato", sans-serif;
}

.about-me {
    font-style: 'Lato', sans-serif;
}
.about-me__figure {
    background-color: lightgray;
    border-radius: 10%;
    border-style: solid;
    border-width: 6pt;
}
.about-me__picture {
    border-radius: 5%;
}
.about-me__Latincaption, .about-me__captionattribution, .about-me__Englishcaption {
    font-family: 'Proza Libre', sans-serif;
}
.about-me__Latincaption, .about-me__Englishcaption {
    font-style: italic;
}
.about-me__title, .about-me__text {
    font-family: 'Lato', sans-serif;
}

.hidden {
    display: none;
}

.skills h2, .skills li {
    font-family: 'Lato', sans-serif;
    list-style: none;
}

.footer {
    background-color: #007ff4;
}

.darkmode-button {
    background-color: navajowhite;
}

/*   Dark Mode    */

.body-dark {
    background-color: #121212;
}

.header-dark {
    background-color: #004aad;
}

.header__listItemAnchor-dark {
    font-family: 'Lato', sans-serif;
    font-size: 15pt;
    color: orangered;
    font-weight: bold;
}

.header__titleAnchor-dark {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 35pt;
}

.spacer1-dark {
    background-image: linear-gradient(#121212, blue,#121212);
}

.section-title-dark {
    color: rebeccapurple;
    font-family: "Lato", sans-serif;
    font-size: 30pt;
    text-decoration: wavy underline;
}

.programming__project--image-dark {
    width: 95vw;
    border-radius: 10%;
    border: 5px solid black;
    max-width: 900px;
}

.about-me__figure-dark {
    background-color: lightgray;
    border-radius: 10%;
    border-style: solid;
    border-width: 6pt;
}

.footer-dark {
    background-color: #007ff4;
}